body{
    background-color: #f5f7f7;
    margin: 0px;
    font-family: 'Abel';
}


.item{
    padding: 0px 10%;
}

#menu-1{
    height: 40px;
    color: #fff;
    background-color:#0e3225;
}

#menu-1-left{
    float: left;
}

#menu-1-right{
    float: right;
}

#bell-notification{
    padding-right: 15px;
}

#logout-text{
    padding-left: 15px;
}

i{
    padding-left: 3px;
}

.menu-1-item{
    padding: 10px 10%;
    display: inline;
}

#menu-2{
    background-color:#144734;
    height: 60px;
}

#menu-2-left{
    float: left;
    display: flex;
}

#menu-2-right{
    float: right;
    margin-right: 47px;
}

#menu-2-right span{
    position: absolute;
    margin-right: 10px !important;
}

#menu-2-left nav {
    margin: 30px 5px 0px 5px;
}

#menu-2-right a img{
    border-radius: 50%;
    margin-top: 9px;
}

#menu-2-right a span{
    margin: 19px 4px;
}

#menu-2-left nav a,
#menu-2-right a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0px 5px;
}
#menu-2-left nav a:hover,
#menu-2-left nav a:active{
    font-weight: bold;
    text-decoration: none;
}

.menu-2-item{
    padding: 0px 10%;
    display: inline;
}

#menu-3 {
    background: #fff;
    border-bottom: 1px solid #ecf0ee;
    height: 80px;
}

#menu-3 nav{
    padding: 30px 10% 0px 10%;
}

#menu-3 nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:#376252;
    margin: 0px 40px 0px 0px;
}

#menu-3 nav a:hover{
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #376252;
}

#content-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #ecf0ee;
}

div.block {
    padding: 0px 10%;
}

#content-info-block-left,
#content-info-block-right{
    display: flex;
    flex-direction: column;
}

#content-info-block-left{
    text-align: left;
}

#content-info-block-right{
    text-align: right;
}

.first-line i,
.first-line span {
    color: #3a9017;
}

.second-line.left{
    text-transform: uppercase;
    font-size: 40px; 
}

.second-line.right span#money {
    text-transform: uppercase;
    font-size: 40px; 
    font-weight: bold;
}

.second-line.right span#currency {
    position: absolute;
    margin-top: 4px;
}

.second-line.right {
    margin-right: 8px;
}

.third-line{
    float:right;
    font-size: 12px;
    font-weight: bold;
    color: #9d9d9c;
}

#top-separation-bar{
    color: #2c5042
}

#arrow-return{
    padding-right: 4px;
}

.separation-bar{
    margin: 0px 8px;
}

#body-container{
    display: flex;
    padding: 30px 10% 0px 10%;
    flex-direction: column;
    background-image: url("discount.png");
    background-repeat: no-repeat;
    background-position: right;
}

.body-rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    width: 100%;
}

#body-container-second-line{
    margin-top: 30px;
}

.body-container-column{
    background: #fff;
}

.body-container-first-row-item{
    width: 50%;
}

#body-container-first-line-left{
    margin-right: 15px; 
}

#body-container-first-line-right{
    margin-left: 15px; 
}

.body-container-second-row-item{
    width: 33%;
}

#body-container-second-line-left{
    margin-right: 15px;
}

#body-container-second-line-middle{
    margin: 0px 15px;
}

#body-container-second-line-right{
    margin-left: 15px;
}

.body-container-column{
    display: flex;
    flex-direction: row;
}

.body-container-item{
    display: flex;
    flex-direction: column;
    margin: 35px 20px;
}

.body-container-item-title{
    font-weight: bold;
    font-size: 22px;
}

.body-container-item-footer{
    margin-top: 15px;
}

.body-container-item-body{
    margin-top: 5px;
}

.body-container-item-footer span{
    font-size: 35px;
}

.red{
    color: #c20533;
}

.green{
    color: #278600;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
}

#top-footer{
    background-color: #144734;
    height: 50px;
}

#top-footer-left{
    float: left;
}

#top-footer-right{
    float: right;
}

#top-footer-right img{
    margin-top: 13px;
}

#bottom-footer{
    background-color: #fff;
    padding-top: 5px;    
    height: 30px;
}

#bottom-footer-left{
    float: left;
}

#bottom-footer-right{
    float: right;
}

#bottom-footer-right nav a{
    font-size: 11px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    margin: 0px 0px 0px 25px;
}

#bottom-footer #bottom-footer-left i,
#bottom-footer #bottom-footer-left span{
    font-size: 11px;
    font-weight: bold;
    color: #555;
}