body{
    background-color: #f5f7f7;
    margin: 0px;
    height: calc(100% - 80px);
    font-family: 'Abel';
}

i{
    padding-left: 3px;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

.item{
    padding: 0px 10%;
}

#logo-menu {
    padding: 10px;
}

#logo-footer {
    padding: 5px;
}

#menu-1{
    height: 40px;
    background-color:#0e3225;
    display: flex;
    justify-content: space-between;
}

#menu-1-left{
    padding: 10px 0px 10px 10%;
}

#menu-1-right{
    padding: 10px 10% 10px 0px;
}

#menu-1-separation-bar{
    color: #2c5042;
    margin: 0px 8px;
}

#bell-notification{
    padding-right: 15px;
}

#logout-text{
    padding-left: 15px;
}

#menu-2{
    background-color:#144734;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#menu-2-left{
    display: flex;
}

#menu-2-right{
    margin-right: 50px;
}

#menu-2-right span{
    position: absolute;
    margin-right: 10px !important;
}

#menu-2-left nav {
    margin: 30px 5px 0px 5px;
}

#menu-2-right a img{
    border-radius: 50%;
    margin-top: 9px;
}

#menu-2-right a span{
    margin: 17px 4px;
}

#menu-2-left nav a,
#menu-2-right a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0px 5px;
}

#menu_2_responsive{
    display: none;
}

#menu-2-responsive-right a img{
    border-radius: 50%;
    margin-top: 9px;
}

#menu-2-responsive-button{
    background-color:#144734;
    border: 2px solid #539d37;
    border-radius: 5px;
}

#menu-2-responsive-button-content{
    font-size: 40px;
    color: #fff;
}

#menu-3 {
    background: #fff;
    border-bottom: 1px solid #ecf0ee;
    height: 80px;
}

#menu-3 nav{
    padding: 30px 10% 0px 10%;
}

#menu-3 nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:#376252;
    padding: 30px 5px 28px 0px;
}

#menu-3 nav a:hover{
    border-bottom: 2px solid #376252;
}

.with-arrow-after{
    margin: 0px 0px 0px 40px;
}

.with-arrow-after:after{
    content: url("down-arrow.png");
}

#content-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #ecf0ee;
}

div.block-left {
    padding: 0px 0px 0px 10%;
}

div.block-right {
    padding: 0px 10% 0px 0px;
}

#content-info-block-left,
#content-info-block-right{
    display: flex;
    flex-direction: column;
}

#content-info-block-left{
    text-align: left;
}

#content-info-block-right{
    text-align: right;
}

.first-line i,
.first-line span {
    color: #3a9017;
}

.content-info-second-line{
    text-transform: uppercase;
    font-size: 35px; 
}

.first-line{
    margin-top: 8px;
}

.second-line{
    margin-top: 4px;
}

.second-line.right span#currency {
    position: absolute;
    margin-top: 4px;
}

.second-line.right {
    margin-right: 8px;
}

.third-line{
    float:right;
    font-size: 12px;
    font-weight: bold;
    color: #9d9d9c;
    /* margin-top: 2px; */
}

#arrow-return{
    padding-right: 4px;
}

/* #content-info-responsive{
    display: none;
} */

#body-container{
    display: flex;
    padding: 30px 10% 0px 10%;
    flex-direction: column;
}

.body-rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    width: 100%;
}

#body-container-second-line{
    margin-top: 30px;
}

.body-container-column{
    background: #fff;
}

.body-container-first-row-item{
    width: 50%;
}

#body-container-first-line-left{
    margin-right: 15px; 
}

#body-container-first-line-right{
    margin-left: 15px; 
}

.body-container-second-row-item{
    width: 33%;
}

#body-container-second-line-left{
    margin-right: 15px;
}

#body-container-second-line-middle{
    margin: 0px 15px;
}

#body-container-second-line-right{
    margin-left: 15px;
}

.body-container-column{
    display: flex;
    flex-direction: row;
}

.body-container-column a{
    color: #000;
}

a.body-container-link{
    display: flex;
    width: 100%;
}

a.body-container-link:hover{
    font-weight: 100;
    background: #eee;
}

.body-container-item{
    display: flex;
    flex-direction: column;
    margin: 35px 20px;
}

.body-container-item-title{
    font-weight: bold;
    font-size: 22px;
}

.body-container-item-footer{
    margin-top: 15px;
}

.body-container-item-body{
    margin-top: 5px;
}

.body-container-item-footer span{
    font-size: 35px;
}

.red{
    color: #c20533;
}

.green{
    color: #278600;
}

#body-container-responsive{
    display: none;
}

#body-container-responsive a{
    background: #fff;
    margin-bottom: 30px;
    color: #000;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
}

#top-footer{
    background-color: #144734;
    height: 50px;
}

#top-footer-left{
    float: left;
}

#top-footer-right{
    float: right;
}

#top-footer-right img{
    margin-top: 13px;
}

#bottom-footer{
    background-color: #fff;
    padding-top: 8px;    
    height: 30px;
}

#bottom-footer-left{
    float: left;
}

#bottom-footer-right{
    float: right;
}

#bottom-footer-right nav a{
    font-size: 12px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    margin: 0px 0px 0px 25px;
}

#bottom-footer #bottom-footer-left i,
#bottom-footer #bottom-footer-left span{
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.text-footer-bottom{
    font-size: 12px;
    font-weight: bold;
    color: #555; 
}

@media (max-width: 1557px) {
    #menu-1,
    #menu-2,
    #menu-3,
    #top-footer,
    #bottom-footer{
        display:none
    }

    #menu_2_responsive {
        background-color:#144734;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media (max-width: 1024px){
    #content-info,
    #body-container{
        display:none
    }

    #content-info-responsive{
        display: block;
        /* justify-content: space-between; */
        background: #fff;
        margin: 3% 10% 0px 10%;
        padding: 5px 10px;
    }

    #body-container-responsive{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 10% 0px 10%;
    }
}
